@using AdminWeb.Models.DB;

@model object
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th></th>
                @foreach (colName it in ViewBag.colName)
                {
                    <th> @it.COLUMN_NAME</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ switch (ViewBag.tableName as string)
                {

                    case "BaiThi":
                        foreach (BaiThi it in Model as List<BaiThi>)
                        {
                            <tr class="ajax_clickOnRow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maBaiThi </td>
                                <td>  @it.ngayTao </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "BoMon":
                        foreach (BoMon it in Model as List<BoMon>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>  @it.maTruongBM </td>
                                <td class="key1">  @it.maBM </td>
                                <td>  @it.maKhoa </td>
                                <td>  @it.tenBM </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.soLuongGV </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "CanhCao":
                        foreach (CanhCao it in Model as List<CanhCao>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maCanhCao </td>
                                <td>  @it.tenCanhCao </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "CHiTietHP":
                        foreach (CHiTietHP it in Model as List<CHiTietHP>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maHP </td>
                                <td class="key2">  @it.TenHinhThuc </td>
                                <td>  @it.sotiet </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "ChuyenNganhDT":
                        foreach (ChuyenNganhDT it in Model as List<ChuyenNganhDT>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>  @it.maNganhDT </td>
                                <td class="key1">  @it.maChuyenNganh </td>
                                <td>  @it.maBoMon </td>
                                <td>  @it.tenChuyenNganh </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DiemDanh":
                        foreach (DiemDanh it in Model as List<DiemDanh>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maDD </td>
                                <td>  @it.maLopHP </td>
                                <td>  @it.soBuoiDiemDanh </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DScanhcao":
                        foreach (DScanhcao it in Model as List<DScanhcao>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maCanhCao </td>
                                <td class="key2">  @it.maSV </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSCoVanHT":
                        foreach (DSCoVanHT it in Model as List<DSCoVanHT>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maLopCN </td>
                                <td class="key2">  @it.maCV </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSDeThi":
                        foreach (DSDeThi it in Model as List<DSDeThi>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maBaiThi </td>
                                <td class="key2">  @it.maDeThi </td>
                                <td>  @it.soTo </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSDiemDanhSV":
                        foreach (DSDiemDanhSV it in Model as List<DSDiemDanhSV>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maDD </td>
                                <td class="key2">  @it.maSV </td>
                                <td>  @it.soBuoi </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSGiamThi":
                        foreach (DSGiamThi it in Model as List<DSGiamThi>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maThiKetThuc </td>
                                <td class="key2">  @it.maGV </td>
                                <td>  @it.ngayPC </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSGiangDuong":
                        foreach (DSGiangDuong it in Model as List<DSGiangDuong>)
                        {
                        <tr>
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td class="key1">  @it.maGD </td>
                            <td class="key2">  @it.maLopHP </td>
                            <td>  @it.thu </td>
                            <td>  @it.chuThich </td>
                            <td>
                                <div class="table-data-feature">
                                    <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        }
                        break;
                    case "DSGVChamBai":
                        foreach (DSGVChamBai it in Model as List<DSGVChamBai>)
                        {
                        <tr>
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td class="key1">  @it.maBaiThi </td>
                            <td class="key2">  @it.maGV </td>
                            <td>  @it.ngayCham </td>
                            <td>  @it.diem </td>
                            <td>  @it.chuThich </td>
                            <td>
                                <div class="table-data-feature">
                                    <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        }
                        break;
                    case "DSGVHP":
                        foreach (DSGVHP it in Model as List<DSGVHP>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maGV </td>
                                <td class="key2">  @it.maHP </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSHocBong":
                        foreach (DSHocBong it in Model as List<DSHocBong>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maHocBong </td>
                                <td class="key2">  @it.MaSV </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSHPThiKetThuc":
                        foreach (DSHPThiKetThuc it in Model as List<DSHPThiKetThuc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maLopHP </td>
                                <td class="key2">  @it.maThiKetThuc </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSKQHT":
                        foreach (DSKQHT it in Model as List<DSKQHT>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maSV </td>
                                <td>  @it.tenXepLoai </td>
                                <td class="key2">  @it.tenKy </td>
                                <td>  @it.diem </td>
                                <td>  @it.sotinchino </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSSVLopHP":
                        foreach (DSSVLopHP it in Model as List<DSSVLopHP>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.malopHP </td>
                                <td class="key2">  @it.maSV </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.diem1 </td>
                                <td>  @it.diem3 </td>
                                <td>  @it.diem6 </td>
                                <td>  @it.diemHe4 </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "DSSVThiKetThuc":
                        foreach (DSSVThiKetThuc it in Model as List<DSSVThiKetThuc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maSV </td>
                                <td class="key2">  @it.maBaiThi </td>
                                <td class="key3">  @it.maThiKetThuc </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "GiangDuong":
                        foreach (GiangDuong it in Model as List<GiangDuong>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maGD </td>
                                <td>  @it.soPhong </td>
                                <td>  @it.tang </td>
                                <td>  @it.viTri </td>
                                <td>  @it.sucChua </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "GiangVien":
                        foreach (GiangVien it in Model as List<GiangVien>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maGV </td>
                                <td>  @it.maBM </td>
                                <td>  @it.tenGV </td>
                                <td>  @it.hoGV </td>
                                <td>  @it.ngaySinh </td>
                                <td>  @it.gioiTinh </td>
                                <td>  @it.email </td>
                                <td>  @it.sdt </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "HinhThucHoc":
                        foreach (HinhThucHoc it in Model as List<HinhThucHoc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.tenHinhThuc </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "HocBong":
                        foreach (HocBong it in Model as List<HocBong>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maHocBong </td>
                                <td>  @it.tenHocBong </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "HocPhan":
                        foreach (HocPhan it in Model as List<HocPhan>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maHP </td>
                                <td>  @it.soTC </td>
                                <td>  @it.maPKT </td>
                                <td>  @it.tenHP </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "HocViGV":
                        foreach (HocViGV it in Model as List<HocViGV>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maGV </td>
                                <td class="key2">  @it.tenHV </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "Khoa":
                        foreach (Khoa it in Model as List<Khoa>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>  @it.maTruongKhoa </td>
                                <td class="key1">  @it.maKhoa </td>
                                <td>  @it.tenKhoa </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "KhoaSv":
                        foreach (KhoaSv it in Model as List<KhoaSv>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maKhoaSv </td>
                                <td>  @it.tenKhoaSv </td>
                                <td>  @it.namThanhLap </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.soLuongSV </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "KyHoc":
                        foreach (KyHoc it in Model as List<KyHoc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.tenKy </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "LichHP":
                        foreach (LichHP it in Model as List<LichHP>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maHP </td>
                                <td class="key2">  @it.tietHoc </td>
                                <td>  @it.soLuong </td>
                                <td class="key3">  @it.thu </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "LopCNSv":
                        foreach (LopCNSv it in Model as List<LopCNSv>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td class="key1">  @it.maLopCN </td>
                                <td>  @it.tenLopCN </td>
                                <td>  @it.maCNDT </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.soLuongSV </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "LopHP":
                        foreach (LopHP it in Model as List<LopHP>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>  @it.maHP </td>
                                <td class="key1">  @it.maLopHP </td>
                                <td>  @it.maxStore </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.curStore </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "NganhDT":
                        foreach (NganhDT it in Model as List<NganhDT>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.maNganhDT </td>
                                <td>  @it.tenNganhDT </td>
                                <td>  @it.maBoMon </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "PhanKT":
                        foreach (PhanKT it in Model as List<PhanKT>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.maPKT </td>
                                <td>  @it.tenPKT </td>
                                <td>  @it.chuThich </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "SinhVien":
                        foreach (SinhVien it in Model as List<SinhVien>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.maSV </td>
                                <td>  @it.maLopCN </td>
                                <td>  @it.tenSV </td>
                                <td>  @it.hoSV </td>
                                <td>  @it.ngaySinh </td>
                                <td>  @it.gioiTinh </td>
                                <td>  @it.email </td>
                                <td>  @it.sdt </td>
                                <td>  @it.sdtPhuHUynh </td>
                                <td>  @it.KhoaSv </td>
                                <td>  @it.chuThich </td>
                                <td>  @it.isLearn </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "ThiKetThuc":
                        foreach (ThiKetThuc it in Model as List<ThiKetThuc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.maThiKetThuc </td>
                                <td>  @it.ngayThi </td>
                                <td>  @it.thoiGianBatDau </td>
                                <td>  @it.chuThich' </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "TietHoc":
                        foreach (TietHoc it in Model as List<TietHoc>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.tietHoc1 </td>
                                <td>  @it.timeStart </td>
                                <td>  @it.chuThich' </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "TrinhDoNN":
                        foreach (TrinhDoNN it in Model as List<TrinhDoNN>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.tenTrinhDoNN </td>
                                <td  class="key2">  @it.maSV </td>
                                <td>  @it.chuThich' </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case "XepLoai":
                        foreach (XepLoai it in Model as List<XepLoai>)
                        {
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td  class="key1">  @it.tenXepLoai </td>
                                <td  class="key2">  @it.diem </td>
                                <td>  @it.chuThich' </td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item ajax_editRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item ajax_deleteRow" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                }
            }

        </tbody>
        </table>
    <script src="~/Contents/js/homeController.js"></script>
